@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: auto;
  scrollbar-color: #44475a;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  visibility: hidden;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: #44475a;
  border-radius: 10px;
  border: 3px solid #44475a;
}

.scrollbar:hover::-webkit-scrollbar-track {
  visibility: visible;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
